{% extends 'base.html.twig' %}

{% block body %}

<main>


<section id="menu">

    <div  data-aos="fade-up" data-aos-duration="2000" class="pizza left">
        <h2>- Nos bases rouges -</h2>
        {% for pizza in redPizza %}
            <h3>{{ pizza.name }}</h3>
            <div class="contentPrice">
            <div class="content">
                {{ pizza.content }}
            </div>
            <div class="price">
                - {{ pizza.price|number_format(2, '.', ',') }} € -
            </div> 
        </div>
        {% endfor %}
    </div>
        

        

{# 
    <div data-aos="flip-right" data-aos-duration="1500" class="pizza">
    <img src="images/IMG_1.jpg" alt="Pizza">
    </div>

    <div data-aos="fade-up"  data-aos-duration="2000" class="pizza right">
        <h2>- Nos bases blanches -</h2>
        <?php foreach ($pizzaBlanches as $pizza) : ?>
        <h3><?= $pizza['name']; ?></h3>
        <div class="contentPrice">
            <div class="content">
                <?= $pizza['content']; ?>
            </div>
            <div class="price">
                - <?= number_format($pizza['price'], 2, ',', ''); ?> € -
            </div> 
        </div>
        <?php endforeach; ?>
    </div>

    <div data-aos="flip-left" data-aos-duration="1500" class="pizza">
    <img src="images/IMG_2.JPG" alt="Pizza">
    </div>

    <div data-aos="fade-up" data-aos-duration="2000" class="pizza left">
        <h2>- Nos spéciales rouges -</h2>
        <?php foreach ($pizzaSpecialRouges as $pizza) : ?>
        <h3><?= $pizza['name']; ?></h3>
        <div class="contentPrice">
            <div class="content">
                <?= $pizza['content']; ?>
            </div>
            <div class="price">
                - <?= number_format($pizza['price'], 2, ',', ''); ?> € -
            </div> 
        </div>
        <?php endforeach; ?>
    </div>

    <div data-aos="flip-right" data-aos-duration="1500" class="pizza">
    <img src="images/IMG_3.JPG" alt="Pizza">
    </div>

    
    <div data-aos="fade-up" data-aos-duration="2000" class="pizza right">
        <h2>- Nos spéciales blanches -</h2>
        <?php foreach ($pizzaSpecialBlanches as $pizza) : ?>
        <h3><?= $pizza['name']; ?></h3>
        <div class="contentPrice">
            <div class="content">
                <?= $pizza['content']; ?>
            </div>
            <div class="price">
                - <?= number_format($pizza['price'], 2, ',', ''); ?> € -
            </div> 
        </div>
        <?php endforeach; ?>
    </div>

    <div data-aos="flip-left" data-aos-duration="1500" class="pizza">
    <img src="images/IMG_4.JPG" alt="Pizza">
    </div>

    <div data-aos="fade-up" data-aos-duration="2000" class="pizza other">
        <h2>- Nos pizzas dessert -</h2>
        <?php foreach ($pizzaDessert as $pizza) : ?>
        <h3><?= $pizza['name']; ?></h3>
        <div class="contentPrice">
            <div class="price">
                - <?= number_format($pizza['price'], 2, ',', ''); ?> € -
            </div> 
        </div>
        <?php endforeach; ?>
    </div>

    <div data-aos="flip-right" data-aos-duration="1500" class="pizza">
    <img src="images/IMG_5.JPG" alt="Pizza">
    </div>

    <div data-aos="fade-up" data-aos-duration="2000" class="pizza other">
        <h2>- Nos boissons -</h2>
        <?php foreach ($boissons as $boisson) : ?>
        <h3><?= $boisson['name']; ?></h3>
        <div class="contentPrice">
            <div class="price">
                - <?= number_format($boisson['price'], 2, ',', ''); ?> € -
            </div> 
        </div>
        <?php endforeach; ?>
    </div>

    <div data-aos="flip-left" data-aos-duration="1500" class="pizza">
    <img src="images/IMG_6.JPG" alt="Pizza">
    </div>

    <div data-aos="fade-up" data-aos-duration="2000" class="pizza other">
        <h2>- Nos vins -</h2>
        <?php foreach ($vins as $vin) : ?>
        <h3><?= $vin['name']; ?></h3>
        <div class="contentPrice">
            <div class="price">
                - <?= number_format($vin['price'], 2, ',', ''); ?> € -
            </div> 
        </div>
        <?php endforeach; ?>
    </div>

    <div data-aos="flip-right" data-aos-duration="1500" class="pizza">
    <img src="images/IMG_7.jpg" alt="Pizza">
    </div>

    <div data-aos="fade-up" data-aos-duration="2000" class="pizza">
        <h2>- Produits allergènes -</h2>
        <?php foreach ($allergenes as $allergene) : ?>
        <h4><?= $allergene['name']; ?></h3>
        <?php endforeach; ?>
    </div>

</section> 

<section id="informations">


    <h2 data-aos="fade-up" data-aos-duration="2000" class="right" >Pizzeria ouverte tous les jours de 19h à 22h</h2>
    <h2 class="left" data-aos="fade-down" data-aos-duration="2000">Restauration sur place ou à emporter</h2>
    <h2 class="right" data-aos="fade-up" data-aos-duration="2000">Livraison gratuite sur Morières Lès Avignon et communes alentour (Montfavet, Saint Saturnin Lès Avignon, Jonquerette, Vedène et Châteauneuf de Gadagne)</h2>
    <h2 class="left" data-aos="fade-down" data-aos-duration="2000">Plaques de pizza sur demande</h2>

</section>

</main> #}




{% endblock %}
