{% extends 'base_admin.html.twig' %}

{% block title %}Modifier pizza{% endblock %}

{% block body %}

<div class="container">

    <h1>Modification</h1>

    {{ include('admin/pizza/_form.html.twig', {'button_label': 'Modifier', 'button_class': 'btn btn-warning'}) }}

    <a href="{{ path('pizza_index') }}">Retour</a>

</div>
{% endblock %}
